body{
    background-color: #18453B;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

/*
.class-for-about{
    background-color: #18453B;
}

.class-for-contact{
    background-color: #18453B;
}

*/