body{
    background-color: #18453B;
    padding-bottom: 45px;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

li{
    color: white;
}

table, th, td{
    color: white;
    border: 1px solid;
}

label {
    color: white;
}

form{
    color: white;
}

